{% from 'bootstrap/form.html' import render_form %}
{% extends "base.html" %}

{% block content%}
    <div class="py-3 text-center">
        <h2>{{ title }}</h2>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
            {{ render_form(form, novalidate=True, button_map={'submit':'primary'}) }}
            <p class="text-center">New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
            <p class="text-center">Forgot Your Password? <a href="{{ url_for('reset_password_request')}}">Click to Reset It</a></p>
        </div>
    </div>
{% endblock %}